.add-this-panel {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.add-this {
    display: block;
    padding: 8px 20px;
}

.add-this-panel .add-this {
    margin-left: auto;
}

.add-this-panel .add-this i {
    margin-left: 5px;
}

.shared-detail .add-this {
    font-size: 15px;
    color: #363b47;
}

.shared-detail .add-this i {
    color: #1072ba;
}

.shared-detail .add-this-panel {
    margin-bottom: 0;
}

@media (min-width: 641px) {
    .shared-detail .add-this-panel {
        position: absolute;
        top: 0;
        right: 0;
    }
}