.add-this-panel {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.add-this {
    display: block;
    padding: 8px 20px;
}

.add-this-panel .add-this {
    margin-left: auto;
}

.add-this-panel .add-this i {
    margin-left: 5px;
}