/** two col slider **/

.two-col-slider {
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 60px;
    z-index: 1;
}

.two-col-slider::after {
    content: "";
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 85%;
    background: url("../includes/public/assets/images/slider-bg.png")center bottom/cover no-repeat;
    z-index: -1;
}

.two-col-slider .slider {
    position: relative;
}

.two-col-slider .arrow-cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    pointer-events: none;
    z-index: 1;
}

.two-col-slider .arrow-cont .inner {
    padding-right: 15px;
    display: flex;
}

.two-col-slider .arrow-cont .slick-next,
.two-col-slider .arrow-cont .slick-prev {
    background-color: white;
    pointer-events: all;
}

.two-col-slider .arrow-cont .slick-next i,
.two-col-slider .arrow-cont .slick-prev i {
    color:#62737b;
}

.two-col-slider .arrow-cont .slick-prev {
    margin-right: 15px;
}

.two-col-slider .item {
    display: flex;
    flex-direction: column;
    padding: 15px 15px 0;
}

.two-col-slider .item .img-cont {
    position: relative;
    border-radius: 8px;
    padding: 5px;
    background: white;
    box-shadow: 0px 6px 10px 2px rgba(0,0,0,0.07), 0px -3px 10px 2px rgba(0,0,0,0.07);
    height: 100%;
    max-width: 560px;
    margin: 0 auto 25px;
}

.two-col-slider .item .img-cont img {
    display: block;
    width: 100%;
}

.two-col-slider .item .content {
    padding-bottom: 60px;
}

.two-col-slider .item .content h2 {
    margin-bottom: 5px;
}

.two-col-slider .item .content h6 {
    font-weight: 400;
    margin-bottom: 10px;
}

.two-col-slider .item .content p {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
}

@media (min-width: 641px) {
    .two-col-slider .item {
        flex-direction: row;
    }
    .two-col-slider .item .img-cont,
    .two-col-slider .item .content {
        flex: 0 1 50%;
    }
    .two-col-slider .item .img-cont {
        margin: 0 auto;
        box-shadow: 6px 6px 30px rgba(0,0,0,0.07), -6px -6px 30px rgba(0,0,0,0.07);
    }
    .two-col-slider .item .content {
        padding-left: 15px;
    }
    .two-col-slider .item .content h2 {
        font-size: 32px;
        line-height: 36px;
    }
    .two-col-slider::after {
        top: 10%;
        height: 90%;
    }
    .two-col-slider .slider .slick-list {
        padding: 15px 0;
    }
}

@media (min-width: 1025px) {
    .two-col-slider {
        padding-bottom: 100px;
    }
    .two-col-slider .item .content {
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .two-col-slider .item .img-cont {
        padding: 10px;
    }
}

/** end two col slider **/

/** highlight slider **/

.highlight-slider {
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 75px;
    pointer-events: none;
}

.highlight-slider::after {
    content: "";
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    height: 45%;
    background-color: #fcf6e9;
    z-index: -1;
}

.highlight-slider .item {
    position: relative;
    padding: 15px;
    pointer-events: all;
}

.highlight-slider .item .img-cont {
    position: relative;
    padding: 5px;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 25px;
    box-shadow: 0px 6px 10px 2px rgba(0,0,0,0.1), 0px -6px 10px 2px rgba(0,0,0,0.1);
}

.highlight-slider .item .img-cont img {
    display: block;
    width: 100%;
}

.highlight-slider .item .img-cont::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: rgba(0,0,0,0.25);
}

.highlight-slider .item .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    pointer-events: none;
}

.highlight-slider .item .title h2 {
    color: white;
    margin: 0;
    font-size: 24px;
    line-height: 28px;
}

.highlight-slider .arrow-cont {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1170px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px 25px;
    margin: 0 auto;
    pointer-events: none;
}

.highlight-slider .arrow-cont .view-more {
    padding: 10px 35px;
    border-radius: 25px;
    font-size: 11px;
    color: white;
    text-transform: uppercase;
    background-color: #e9a32e;
    border: 2px solid #e9a32e;
    align-self: flex-end;
    margin-bottom: 8px;
    pointer-events: all;
    transition: all 0.5s;
}

.highlight-slider .arrow-cont .inner {
    display: flex;
    align-self: flex-start;
    margin-top: auto;
}

.highlight-slider .arrow-cont .slick-next,
.highlight-slider .arrow-cont .slick-prev {
    background-color: #e9a32e;
    pointer-events: all;
}

.highlight-slider .arrow-cont .slick-next i,
.highlight-slider .arrow-cont .slick-prev i {
    color: white;
}

.highlight-slider .arrow-cont .slick-prev {
    margin-right: 15px;
}

@keyframes slide-big {
    0% {
        z-index:9;
        transform:scale(1);
    }
    100% {
        z-index:99;
        transform:scale(1.1);
    }
}

@keyframes slide-small {
    0% {
        z-index:99;
        transform:scale(1.1);
    }
    100% {
        z-index:9;
        transform:scale(1);
    }
}

@media (min-width: 1025px) {
    .highlight-slider {
        padding: 0 0 85px;
        margin-bottom: 160px;
    }
    .highlight-slider .arrow-cont {
        padding: 0 50px 30px;
    }
    .highlight-slider .arrow-cont .slick-prev {
        margin-right: 5px;
    }
    .highlight-slider .arrow-cont .view-more {
        padding: 20px 60px;
        font-size: 16px;
        border-radius: 35px;
    }
    .highlight-slider .item {
        transition: transform 1s;
        animation:slide-small 1s ease forwards;
        margin: 0 13px;
    }
    .highlight-slider .item .img-cont {
        padding: 15px;
        box-shadow: 3px 6px 40px rgba(0,0,0,0.1), 3px -6px 40px rgba(0,0,0,0.1);
    }
    .highlight-slider .item .img-cont::after {
        top: 15px;
        left: 15px;
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        transition: all 0.5s;
    }
    .highlight-slider .item:hover .img-cont::after {
        background-color: rgba(232, 177, 84, 0.8);
    }
    .highlight-slider .slick-list {
        padding-top: 30px !important;
    }
    .highlight-slider .item.slick-center {
        animation:slide-big 1s ease forwards;
    }
    .highlight-slider .item .title h2 {
        font-size: 40px;
        line-height: 44px;
    }
    .highlight-slider .arrow-cont .view-more:hover {
        background-color: white;
        color: #e8b154;
    }
}

/** end highlight slider **/

/** article imageboxes **/

.article-imgboxes {
    margin-bottom: 30px;
    padding: 0 15px;
}

.article-imgboxes .title-cont {
    text-align: center;
    margin-bottom: 30px;
}

.article-imgboxes .title-cont h2 {
    position: relative;
    display: inline-block;
    padding: 0 25px;
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    margin: 0;
}

.article-imgboxes .title-cont h2::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 12px;
    border-radius: 15px;
    background-color: #fcf6e9;
    z-index: -1;
}

.article-imgboxes .imgbox-cont {
    display: flex;
    flex-direction: column;
}

.article-imgbox {
    margin-bottom: 30px;
}

.article-imgboxes .imgbox-cont .article-imgbox:last-child {
    margin-bottom: 0;
}

.article-imgbox .img-cont {
    position: relative;
}

.article-imgbox .img-cont img {
    display: block;
    width: 100%;
}

.article-imgbox .img-cont .badge {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 12px;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    transform: translateY(-50%);
    background-color: #1072ba;
}

.article-imgbox .content {
    padding: 15px 5px;
    background-color: white;
}

.article-imgbox .content h4 {
    font-size: 18px;
    line-height: 28px;
    color: #64656a;
    margin: 0;
}

.article-imgbox .content p {
    font-size: 15px;
    line-height: 23px;
    margin: 0;
}

.article-imgbox .content p a {
    text-transform: uppercase;
}

@media (min-width: 641px) {
    .article-imgboxes .imgbox-cont {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 -15px;
    }
    .article-imgbox {
        margin: 0 15px;
    }
    .article-imgbox .img-cont {
        padding-left: 10px;
    }
}

@media (min-width: 1025px) {
    .article-imgboxes {
        margin-bottom: 220px;
        padding: 0 40px;
    }
    .article-imgboxes .imgbox-cont {
        margin: 0;
    }
    .article-imgbox {
        position: relative;
        margin: 0 40px;
    }
    .article-imgboxes .title-cont {
        margin-bottom: 60px;
    }
    .article-imgboxes .title-cont h2 {
        font-size: 58px;
        line-height: 66px;
    }
    .article-imgbox .img-cont .badge {
        font-size: 17px;
    }
    .article-imgbox .img-cont::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -10px;
        width: calc(100% + 20px);
        height: 20px;
        border-radius: 15px;
        background-color: #fcf6e9;
        transform: translateY(100%);
    }
    .article-imgbox .img-cont::before {
        content: "";
        position: absolute;
        top: 0;
        left: 10px;
        width: calc(100% - 10px);
        height: 100%;
        background-color: #e9a32e;
        opacity: 0;
        transition: opacity 0.8s;
    }
    .article-imgbox:hover .img-cont::before {
        transition: opacity 0.4s;
        opacity: 0.3;
    }
    .article-imgbox .content {
        position: absolute;
        top: 100%;
        right: 0;
        width: 80%;
        padding: 20px;
        border-radius: 8px;
        box-shadow: -14px 11px 95px -34px rgba(0,0,0,0.73);
        transition: top 0.8s;
        transform: translate(25px, -50%);
    }
    .article-imgbox:hover .content {
        transition: top 0.4s;
        top: 50%;
    }
    .article-imgbox .content h4 {
        font-size: 22px;
        line-height: 32px;
    }
    .article-imgbox .content p {
        font-size: 17px;
        line-height: 27px;
    }
    .article-imgbox .content p a {
        font-size: 18px;
    }
}

@media (min-width: 1300px) {
    .article-imgboxes {
        padding: 0;
    }
    .article-imgboxes .imgbox-cont {
        margin: 0 -40px;
    }
}

/** end article imageboxes **/

/** featured slider **/

.feat-slider {
    margin-bottom: 40px;
    position: relative;
}

.feat-slider .title-cont {
    text-align: center;
    margin-bottom: 30px;
}

.feat-slider .title-cont h2 {
    position: relative;
    display: inline-block;
    padding: 0 25px;
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    margin: 0;
}

.feat-slider .title-cont h2::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 12px;
    border-radius: 15px;
    background-color: #fcf6e9;
    z-index: -1;
}

.feat-slider .view-all {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.feat-slider .view-all a {
    text-transform: uppercase;
    font-size: 18px;
}

.feat-slider .slider {
    background-color: #fcf6e9;
}

.feat-slider .slider-inner {
    padding-bottom: 50px;
}

.feat-slider .slider .arrow-cont {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 100;
    padding-top: 53%;
    pointer-events: none;
}

.feat-slider .slider .arrow-cont .slick-next,
.feat-slider .slider .arrow-cont .slick-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-25%);
    background-color: rgba(233, 163, 46, 0.75);
}

.feat-slider .slider .arrow-cont .slick-next {
    right: 0;
}

.feat-slider .slider .arrow-cont .slick-prev {
    left: 0;
}

.feat-slider .slider .arrow-cont .slick-next i,
.feat-slider .slider .arrow-cont .slick-prev i {
    color: white;
}

.feat-slider .slider .slick-list {
    padding: 40px 0 20px;
}

.feat-slider .item {
    padding: 0 15px;
}

.feat-slider .item .img-cont {
    position: relative;
    padding: 0 10px;
}

.feat-slider .item .img-cont img {
    display: block;
    width: 100%;
}

.feat-slider .item .img-cont .date-block {
    position: absolute;
    top: -10px;
    left: 0;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 18px 0;
    color: white;
}

.feat-slider .item .img-cont .date-block span:first-child {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
}

.feat-slider .item .img-cont .date-block span:last-child {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    font-weight: 700;
}

.feat-slider .item .img-cont .times {
    position: absolute;
    bottom: 0;
    right: 10px;
    padding: 7px 13px;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    color: white;
}

.feat-slider .item .content {
    padding: 10px 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.07);
}

.feat-slider .item .content h5 {
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    font-size: 19px;
    line-height: 23px;
    margin: 0;
    color: #1072ba;
}

.feat-slider .item .content h6 {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 5px;
}

.feat-slider .item .content .content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Quicksand", sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: black;
}

.feat-slider .item .content .content-bottom a {
    font-family: "Quicksand", sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: black;
}

.feat-slider .item .content .content-bottom a i {
    margin-left: 3px;
    padding-top: 3px;
}

@media (min-width: 641px) {
    .feat-slider .slider .arrow-cont {
        padding: 0;
        top: 0;
        height: 100%;
    }
    .feat-slider .slider .arrow-cont .slick-next,
    .feat-slider .slider .arrow-cont .slick-prev {
        top: 100%;
        transform: translateY(-110%);
    }
    .feat-slider .slider .arrow-cont .slick-next {
        left: 160px;
    }
    .feat-slider .slider .arrow-cont .slick-prev {
        left: 100px;
    }
}

@media (min-width: 1025px) {
    .feat-slider {
        margin-bottom: 180px;
    }
    .feat-slider .slider-inner {
        padding-bottom: 65px;
    }
    .feat-slider .item {
        padding: 0 10px;
    }
    .feat-slider .title-cont h2 {
        font-size: 58px;
        line-height: 66px;
    }
}

/** end featured slider **/

/** featured imgbox **/

.feat-imgbox {
    display: flex;
    flex-direction: column;
    padding: 25px 15px 0;
    width: 100%;
    max-width: 1060px;
    margin: 0 auto 25px;
}

.feat-imgbox .img-cont {
    position: relative;
    margin-bottom: 35px;
    box-shadow: -14px 11px 95px -34px rgba(0,0,0,0.73);
}

.feat-imgbox .img-cont img {
    display: block;
    width: 100%;
}

.feat-imgbox.feat-imgbox.alternate .img-cont {
    padding: 0 15px;
    margin-bottom: 25px;
    box-shadow: 0px 0px;
}

.feat-imgbox.feat-imgbox.alternate .img-cont::before {
    content: "";
    position: absolute;
    top: 0;
    left: 15px;
    width: calc(100% - 30px);
    height: 100%;
    box-shadow: -14px 11px 95px -34px rgba(0,0,0,0.73);
}

.feat-imgbox .img-cont::after {
    content: "";
    position: absolute;
    left: 30px;
    top: -25px;
    width: 30%;
    height: calc(100% + 50px);
    z-index: -1;
    background: url("../includes/public/assets/images/lines.svg")center/cover no-repeat;
}

.feat-imgbox.alternate .img-cont::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 30px;
    top: auto;
    height: 30%;
    width: 100%;
    z-index: -1;
    background: url("../includes/public/assets/images/lines-alt.png")center/contain no-repeat;
}

.feat-imgbox .content h3 {
    font-size: 30px;
    line-height: 36px;
    margin: 0;
}

.feat-imgbox .content p {
    margin-bottom: 25px;
}

.feat-imgbox.alternate .content {
    text-align: right;
}

@media (min-width: 641px) {
    .feat-imgbox {
        flex-direction: row;
    }
    .feat-imgbox .img-cont {
        width: auto;
        margin: 0 auto;
    }
    .feat-imgbox .content {
        width: 50%;
    }
    .feat-imgbox.alternate .img-cont {
        order: 2;
    }
    .feat-imgbox .content {
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .feat-imgbox.alternate .content {
        padding-right: 15px;
    }
    .feat-imgbox .content h6 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    .feat-imgbox .content p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 15px;
    }
    .feat-imgbox .content .stnd-btn {
        margin-right: auto;
    }
    .feat-imgbox.alternate .content .stnd-btn {
        margin-left: auto;
        margin-right: 0;
    }
}

@media (min-width: 1025px) {
    .feat-imgbox {
        margin-bottom: 125px;
    }
    .feat-imgbox .content {
        padding-left: 50px;
        padding-right: 15px;
    }
    .feat-imgbox.alternate .content {
        padding-right: 50px;
        padding-left: 15px;
    }
    .feat-imgbox .content h3 {
        font-size: 46px;
        line-height: 56px;
    }
    .feat-imgbox .content p {
        line-height: 28px;
        margin-bottom: 20px;
    }
}

/** end featured imgbox **/

/** video box **/

.video-box {
    position: relative;
    margin-bottom: 40px;
}

.video-box .img-cont {
    position: relative;
}

.video-box .img-cont .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55px;
}

.video-box .img-cont::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #dfe6ea;
}

.video-box .content {
    padding: 15px;
    background-color: white;
}

.video-box .content h2 {
    margin-bottom: 10px;
}

@media (min-width: 641px) {
    .video-box .content h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .video-box .content p {
        font-size: 16px;
        line-height: 24px;
        margin: 0;
    }
}

@media (min-width: 1025px) {
    .video-box {
        padding-bottom: 100px;
        margin-bottom: 125px;
    }
    .video-box .content {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 45%;
        padding: 25px;
        border-top-left-radius: 8px;
        box-shadow: -14px 11px 95px -34px rgba(0,0,0,0.73);
    }
    .video-box .img-cont .play-btn {
        width: 75px;
    }
    .video-box .img-cont::after {
        height: 20px;
    }
}

/** end video box **/

/** nav slider **/

.nav-slider {
    margin-bottom: 40px;
}

.nav-slider .title-cont {
    text-align: center;
    margin-bottom: 40px;
}

.nav-slider .title-cont h2 {
    position: relative;
    display: inline-block;
    padding: 0 25px;
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    margin: 0;
}

.nav-slider .title-cont h2::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 12px;
    border-radius: 15px;
    background-color: #fcf6e9;
    z-index: -1;
}

.nav-slider .slider {
    position: relative;
    padding: 20px 0 60px;
}

.nav-slider .slider::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 50%;
    max-width: 165px;
    background-color: #fcf6e9;
    z-index: -1;
}

.nav-slider .slider .arrow-cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 12px;
}

.nav-slider .slider .arrow-cont .inner {
    display: flex;
    align-items: center;
}

.nav-slider .slider .arrow-cont .slick-prev,
.nav-slider .slider .arrow-cont .slick-next {
    background-color: #e9a32e;
}

.nav-slider .slider .arrow-cont .slick-prev i,
.nav-slider .slider .arrow-cont .slick-next i {
    color: white;
}

.nav-slider .slider .arrow-cont .slick-prev {
    margin-right: 15px;
}

.nav-slider .slider .slick-list {
    padding-top: 10px;
}

.nav-slider .item {
    position: relative;
    margin-bottom: 15px;
    padding: 0 15px;
}

.nav-slider .item .img-cont {
    position: relative;
    padding: 8px;
    background-color: white;
    border-radius: 8px;
    box-shadow: -4px 8px 22px -3px rgba(0,0,0,0.15), 4px -2px 22px -3px rgba(0,0,0,0.15);
}

.nav-slider .item .img-cont::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    border-radius: 8px;
    background: rgba(0,0,0,0.2);
}

.nav-slider .item .img-cont img {
    display: block;
    width: 100%;
    border-radius: 8px;
}

.nav-slider .item .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-slider .item .title h3 {
    color: white;
    margin: 0;
    font-size: 26px;
    line-height: 26px;
}

@media (min-width: 1025px) {
    .nav-slider .title-cont h2 {
        font-size: 58px;
        line-height: 66px;
    }
}

/** end nav slider **/

/** spotlight **/

.spotlight-panel {
    margin-bottom: 40px;
    padding: 0 15px;
}

.spotlight-panel .inner {
    display: flex;
    flex-direction: column;
}
.spotlight-item {
    margin-bottom: 20px;
}

.spotlight-item img {
    border-radius: 6px;
    display: block;
    width: 100%;
}

.spotlight-item .content {
    padding: 10px 20px 10px 5px;
}

.spotlight-item .content h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 0;
    color: #363a45;
}

.spotlight-item .content p {
    font-size: 15px;
    line-height: 23px;
    margin: 0;
}

.spotlight-item .content p a {
    font-size: 16px;
    text-transform: uppercase;
}

@media (min-width: 641px) {
    .spotlight-panel .inner {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -10px;
    }
    .spotlight-item {
        margin: 0 10px 20px;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: calc(50% - 20px);
    }
}

@media (min-width: 1025px) {
    .spotlight-panel .inner {
        margin: 0 -15px;
    }
    .spotlight-item {
        margin: 0 15px 20px;
        flex-basis: calc(25% - 30px);
    }
}

/** end spotlight **/