/* Shared Details */
.shared-detail {
    margin-bottom: 50px;
}
.header-background {
    min-height: 300px;
}

@media (min-width: 641px) {
    .header-background {
        min-height: 435px;
    }
}

@media (min-width: 1025px) {
    .shared-detail {
        margin-bottom: 140px;
    }
}

.shared-top,
.shared-bottom {
    width: 100%;
	max-width: 1060px;
	margin: 0 auto;
}

/* Shared Top */

.shared-top .shared-info-cont {
    position: relative;
	padding: 0 15px;
    margin-top: -160px;
 }

.shared-top .shared-info-cont .shared-back-button {
    position: absolute;
    top: -25px;
    left: 15px;
    font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: 500;
	color: #fff;
}

.shared-top .shared-info-cont .shared-back-button .fa-caret-left {
	margin-right: 3px;
}

.shared-top .details .details-inner {
	display: flex;
	flex-direction: column;
}

.shared-top .details .share {
	align-self: flex-end;
}

.shared-top .details h2 {
	font-size: 30px;
    margin-bottom: 10px;
	text-align: center;
	letter-spacing: 1px;
}

.shared-top .details .info {
	list-style: none;
	margin: 0;
    font-size: 18px;
    font-weight: 500;
	text-align: center;
	line-height: 23px;
}

.shared-top .weblink a {
	color: #e9a32e;
}

.shared-top .weblink .phone::before {
	content: "|";
	color: #363b47;
	margin-right: 2px;
}

.shared-top .details .detail-booking {
	display: flex;
    justify-content: center;
    padding: 12px;
	margin: 20px auto;
    width: 130px;
	font-family: 'Roboto', sans-serif;
    font-size: 13px;
	font-weight: 700;
	color: white;
    text-transform: uppercase;
    background-color: #e9a32e;
	border-radius: 20px;
	cursor: pointer;
}

@media (min-width: 641px) {
    .shared-top .details h2 {
        line-height: 38px;
        margin: 0;
    }
}

/* Shared Gallery */
.shared-gallery .gallery-item {
	border: 7px solid #f3faff;
	box-shadow: 0 3px 24px rgba(0,0,0,0.1);
}

.shared-gallery .gallery-item img {
    display: block;
    width: 100%;
}

.detail-social {
    padding: 10px 0 15px;
}

@media (min-width: 641px) {
    .detail-social {
        padding: 10px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}

@media (min-width: 1025px) {
    .detail-social {
        flex-direction: row;
        justify-content: flex-start;
    }
}

@media (min-width: 641px) {
	.shared-top {
		margin-bottom: 40px;
	}
	.shared-top .shared-info-cont {
		display: flex;
        margin-top: -200px;
	}
	.shared-top .shared-info-inner {
		width: 48%;
	}
	.shared-top .details {
		position: relative;
        width: 52%;
        display: inline-block;
        margin-top: auto;
        height: 100%;
	}
	.shared-top .details .details-inner {
        padding: 20px 15px 0 35px;
	    background-color: #fff;
		border-top-right-radius: 10px;
	}
	.shared-top .details .share {
		display: flex;
    	justify-content: flex-end;
		margin-right: 20px;
	}
	.shared-top .details .share .add-this {
	    font-size: 17px;
	    padding: 10px 0 0 0;
	}
	.shared-top .details h2,
	.shared-top .details .info {
		text-align: left;
		padding-top: 0;
	}
}

@media (min-width: 1025px) {
	.shared-top {
		margin-bottom: 120px;
	}
	.shared-top .shared-info-cont {
    	margin-top: -260px;
	}
	.shared-top .details h2 {
		font-size: 42px;
		line-height: 44px;
        letter-spacing: 3px;
        margin-bottom: 10px;
	}
	.shared-top .details .info {
		font-size: 23px;
		line-height: 28px;
	}
	.shared-gallery .gallery-item {
		border: 12px solid #f3faff;
    }
    .shared-top .details .details-inner {
        padding: 30px 15px 10px 35px;
    }
    .shared-top .details .detail-booking {
		margin: 0 0 0 auto;
	}
}


/* Shared Bottom */
.shared-bottom {
	padding: 0 15px;
}

.shared-bottom .detail-tab {
	margin-bottom: 35px;
}

.shared-bottom .detail-tab p {
    font-size: 16px;
    line-height: 24px;
}

.shared-bottom .detail-tab .tab-inner {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 8px 15px;
	background-color: #dfe6ea;
	border-radius: 5px;
}

.shared-bottom .detail-tab .tab-inner::after {
	content: "";
    position: absolute;
    bottom: -13px;
    left: 0;
    width: 100%;
    height: 10px;
	border-radius: 20px;
    background-color: #1072ba;
}

.shared-bottom .detail-tab.active .tab-inner::after {
	display: none;
}

.shared-bottom .detail-tab .tab-inner .toggle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 30px;
    cursor: pointer;
    margin-left: auto;
}

.shared-bottom .detail-tab .tab-inner .toggle i {
	font-size: 24px;
	color: #1072ba;
}

.shared-bottom .detail-tab .tab-inner h2 {
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #363b47;
	margin-bottom: 0;
}

.shared-bottom .detail-tab .tab-content {
    display: none;
}

.shared-bottom .detail-tab .tab-content .content-inner {
	position: relative;
	padding: 10px;
	margin-top: 10px;
	background-color: #f1f4f6;
}

.shared-bottom .detail-tab .tab-content .content-inner::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -20px;
	width: 100%;
	height: 10px;
	border-radius: 20px;
	background-color: #1072ba;
}

.shared-bottom .detail-tab.active .tab-content {
    display: block;
}

.shared-bottom .detail-tab.active .tab-inner .toggle i {
	transform: rotate(45deg);
	transform-origin: center center;
}

.shared-bottom [data-gMapContainer] {
    display: block;
    width: 100%;
    min-height: 100%;
    background-color: white;
    padding: 5px;
}

@media (min-width: 641px) {
	.shared-bottom {
    	margin-bottom: 75px;
	}
	.shared-bottom .detail-tab .tab-inner {
		padding: 15px 30px;
	}
	.shared-bottom .detail-tab .tab-content .content-inner {
		padding: 50px 30px;
	}
	.shared-bottom .detail-tab .tab-inner h2 {
		font-size: 28px;
	}
}

@media (min-width: 1025px) {
	.shared-bottom {
    	margin-bottom: 125px;
	}
	.shared-bottom .detail-tab .tab-inner .toggle i {
		font-size: 32px;
	}

}
