.header-section .search-cont {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(39, 39, 39, 0.3);
    cursor: pointer;
}

.header-section .search-cont i {
    color: white;
    font-size: 20px;
}

.header-section .search-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    padding-top: 250px;
}