/*
|-----------------------------------------------------------------------------------------------------------
| FONTS
|-----------------------------------------------------------------------------------------------------------
|
*/
/*

Place all custom fonts here for reference

font-family: "Roboto", sans-serif;
font-family: "Quicksand", sans-serif;

*/
/*
|-----------------------------------------------------------------------------------------------------------
| RESET STYLES
|-----------------------------------------------------------------------------------------------------------
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,
big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,center,dl,
dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,
time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block; }

body { line-height: 1; }

p ol,
p ul { list-style: none; }

blockquote,
q { quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
|-----------------------------------------------------------------------------------------------------------
| GLOBAL TAG STYLES
|-----------------------------------------------------------------------------------------------------------
*/

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: #363b47;
    overflow-x: hidden;
}
.wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: block;    
    font-size: 16px;
}
a,
a:link,
a:visited,
a:focus {
    color: #1072ba;
    font-weight: bold;
}
h1 {
    color: #1072ba;
    font-size: 42px;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
h2 {
    color: #1072ba;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
h3 {
    color: #e9a32e;
    font-size: 26px;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
h4 {
    color: #363b47;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}
h5 {
    color: #1072ba;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 15px;
}
h6 {
    color: #363b47;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}
p, 
table tr th, 
table tr td {
    color: #363b47;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-rendering: optimizeLegibility;
}
ul, 
ol, 
dl {
    color: #363b47;
    font-size: 18px;
    line-height: 34px;
    font-family: 'Roboto', sans-serif;
}
@media (min-width: 641px) {
    h1 {
        font-size: 55px;
        line-height: 55px;
        margin-bottom: 40px;
    }
    h2 {
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 40px;
    }
    h3 {
        font-size: 46px;
        line-height: 46px;
        margin-bottom: 30px;
    }
    h4 {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 30px;
    }
    h5 {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 20px;
    }
    h6 {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    p, 
    table tr th, 
    table tr td {
        line-height: 34px;
    }
}
ul { margin-left: 1.8em; }
.wrapper img { border: medium none; }
.wrapper .ui-datepicker select { padding: 0; }
.ui-datepicker { z-index: 10 !important; }
.center-align { text-align: center; }
.clear {
    clear: both;
    line-height: 1px;
    visibility: hidden;
}
::-webkit-input-placeholder {
    color: #7e92a0;
    opacity: 1;
}
:-moz-placeholder {
    /* Firefox 18- */
    
    color: #7e92a0;
    opacity: 1;
}
::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #7e92a0;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #7e92a0;
    opacity: 1;
}

/*
|-----------------------------------------------------------------------------------------------------------
| HEADER SECTION
|-----------------------------------------------------------------------------------------------------------
*/

.header-section {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1020;
    height: 90px;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.25);
    padding: 0 60px 0 15px;
}

.header-section .top-nav-cont {
    display: flex;
    justify-content: space-between;
    height: inherit;
}

.header-section .header-right {
    width: 82%;
    position: relative;
    padding: 10px 0;
}

.header-section .logo-wrapper {
    height: 90px;
    width: 18%;
    min-width: 150px;
}

.header-section .logo {
    width: 100%;
    height: inherit;
    margin-right: 15px;
    background: url("../includes/public/assets/images/logo.png")center/contain no-repeat;
}

.header-section .header-top,
.header-section .header-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-section .header-bottom {
    height: 50%;
}

.header-section .header-top {
    margin-bottom: 10px;
    height: calc(50% - 10px);
}

@media (max-width: 1024px) {
    .header-section {
        height: 65px;
    }
    .header-section .header-right {
        display: none;
    }
    .header-section .logo-wrapper {
        height: 65px;
    }
}

/*
|-----------------------------------------------------------------------------------------------------------
| BODY SECTION
|-----------------------------------------------------------------------------------------------------------
*/

.body-section {
    position: relative;
    left: 0;    
    top: 0;
    width: 100%;
}

.controlled-width {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.controlled-width-narrow {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}

.controlled-width.listings {
    max-width: 875px;
    margin: 0 auto;
}

@media (min-width: 1025px) {
    .controlled-width.listings {
        margin: 0 auto 0 10%;
    }
}

/* slick arrows */

.slick-prev,
.slick-next {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    pointer-events: all;
}

.slick-next i,
.slick-prev i {
    font-size: 23px;
}

@media (min-width: 1025px) {
    .slick-next,
    .slick-prev {
        width: 55px;
        height: 55px;
    }
    .slick-next i,
    .slick-prev i {
        font-size: 28px;
    }
}

.intro-panel {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto 20px;
    padding: 0 15px 60px;
    max-height: 425px;
    overflow: hidden;
}

.intro-panel.active {
    max-height: none;
}

.intro-panel .read-more {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #1072ba;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 35%, rgba(255,255,255,1) 100%);
}

.intro-panel .read-more .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(13px);
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1) 20%);
}

.intro-panel.active .read-more,
.intro-panel.active .read-more .inner {
    background: transparent;
}

.intro-panel .read-more::before {
    height: 100px;
    display: block;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.75) 10%, rgba(255,255,255,.95) 60%);
    width: 100%;
    position: absolute;
    bottom: -15px;
    left: 0;
    content: "";
    z-index: -1;
}

.intro-panel.active .read-more::before {
    display: none;
}

.intro-panel .read-more .btn {
    position: relative;
    width: 26px;
    height: 26px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #e9edf0;
    margin-top: 5px;
}

.intro-panel .read-more .btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 2px;
    background-color: #dbdbda;
    z-index: -1;
}

.intro-panel .read-more .btn i {
    color: #1072ba;
}

.intro-panel.active .read-more .inner .notExp {
    display: none;
}

.intro-panel .read-more .inner .exp {
    display: none;
}

.intro-panel.active .read-more .inner .exp {
    display: inline;
}

.intro-panel.active .read-more .btn i {
    transform: rotate(180deg);
}

.intro-panel h1 {
    margin-bottom: 30px;
}

@media (min-width: 1025px) {
    .intro-panel {
        margin: 0 auto 125px;
    }
    .intro-panel .read-more {
        display: none;
    }
    .intro-panel p {
        padding-left: 85px;
    }
    .intro-panel h1 {
        width: 50%;
        font-size: 65px;
        line-height: 70px;
    }
}

.panel-one-col,
.panel-two-col-even {
    padding-bottom: 40px;
}

.panel-one-col .panel-one-col,
.panel-one-col .panel-two-col-even,
.panel-two-col-even .panel-two-col-even {
    padding-bottom: 0;
}

.custom-row {
    width: 100%;
    margin: 0 auto;
}

.custom-col {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}

@media (min-width: 641px) {
    .panel-one-col,
    .panel-two-col-even {
        padding-bottom: 65px;
    }
}

@media (min-width: 1025px) {
    .panel-one-col,
    .panel-two-col-even {
        padding-bottom: 100px;
    }
}

.stnd-btn {
    display: inline-block;
    padding: 15px 40px;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #e9a32e;
    border-radius: 25px;
    color: #e9a32e !important;
    transition: all 0.5s;
}

@media (min-width: 1025px) {
    .stnd-btn {
        padding: 18px 58px;
        border-radius: 35px;
    }
    .stnd-btn:hover {
        color: white !important;
        background-color: #e9a32e;
        border-radius: 5px;
    }
}

/*
|-----------------------------------------------------------------------------------------------------------
| FOOTER SECTION
|-----------------------------------------------------------------------------------------------------------
*/

.footer-section {
    position: relative;
    background: url("../includes/public/assets/images/footer-bg.jpg")center/cover no-repeat;
}

.footer-section .footer-top {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.footer-section .flex-wrapper {
    display: flex;
    flex-direction: column;
}

.footer-section .footer-logo {
    margin: 0 auto 30px;
    text-align: center;
}

.footer-section .address {
    text-align: center;
    margin-bottom: 30px;
}

.footer-section .address ul {
    margin: 0;
    list-style: none;
}

.footer-section .address ul li {
    line-height: 20px;
}

.footer-section .address ul a {
    color: white;
    font-weight: 400;
    font-size: 13px;
}

.footer-section .address h6 {
    color: white;
    font-size: 17px;
    margin: 0;
}

.footer-section .blog-link {
    padding: 6px 10px;
    border-radius: 22px;
    background-color: white;
    color: #1072ba;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

.footer-section .blog-link a {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    text-transform: uppercase;
}

.footer-section .footer-bottom {
    padding: 20px;
    background-color: rgba(54, 59, 71, 0.8);
    text-align: center;
}

.footer-section .footer-bottom span {
    display: block;
    color: white;
    font-size: 13px;
}

.footer-section .footer-bottom img {
    width: 140px;
    margin-top: 20px;
}

@media (min-width: 641px) {
    .footer-section .footer-top .flex-wrapper:last-of-type {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 30px;
    }
    .footer-section .address {
        text-align: left;
        margin: 0;
    }
    .footer-section .footer-top {
        padding: 20px 15px;
    }
    .footer-section .address ul a {
        font-size: 14px;
    }
    .footer-section .address ul li {
        line-height: 21px;
    }
}

@media (min-width: 1025px) {
    .footer-section .footer-top {
        padding: 35px 15px 15px;
    }
    .footer-section .main-flex-wrapper {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    .footer-section .footer-logo {
        margin: 0 40px 0 0;
    }
    .footer-section .footer-top .flex-wrapper:last-of-type {
        padding: 0;
        flex: auto;
    }
    .footer-section .footer-bottom {
        padding: 15px;
    }
    .footer-section .footer-bottom .controlled-width {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer-section .footer-bottom span {
        display: inline;
    }
    .footer-section .footer-bottom img {
        margin: 0;
    }
}
