/* Shared Form */
.shared-form {
	position: relative;
    width: 100%;
    display: flex;
}

.header-section .shared-form {
    max-width: 350px;
}

.header-section .mobilenav .shared-form {
    margin-top: 20px;
}

/* Shared Input */
.shared-input,
.shared-input[type] {
	border: none;
	background-color: #fff;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	color: #7e92a0;
    padding: 0 15px;
    border-radius: 4px;
}

.header-section .shared-input,
.header-section .shared-input[type] {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    max-width: 265px;
}

.header-section .mobilenav .shared-input,
.header-section .mobilenav .shared-input[type] {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    max-width: 225px;
}

.shared-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9a32e;
    border-radius: 4px;
}

.shared-submit i {
    color: white;
}

.header-section .shared-submit {
    height: 50px;
    width: 60px;
    margin-left: 10px;
}

.header-section .shared-submit i {
    font-size: 22px;
}

.header-section .mobilenav .shared-submit {
    height: 40px;
    width: 50px;
    margin-left: 5px;
}

