.social-icons {
    display: flex;
    align-items: center;
}

.footer-section .social-icons {
    margin-bottom: 30px;
    justify-content: center;
}

.footer-section .social-icons .social-icon {
    font-size: 28px;
    font-weight: 400;
    color: white;
    margin-right: 20px;
}

.footer-section .social-icons.tablet-only {
    display: none;
}

@media (min-width: 641px) and (max-width: 1024px) {
    .footer-section .social-icons.tablet-only {
        display: flex;
    }
    .footer-section .social-icons.hide-for-tablet {
        display: none;
    }
}