.vguide-panel {
    display: flex;
    flex-direction: column;
    position: relative;
}

.footer-section .vguide-panel {
    width: 95%;
    margin: 0 auto;
}

.vguide-panel .vguide {
    border-bottom: 2px solid white;
}

.vguide .item-wrapper,
.enews .item-wrapper {
    display: flex;
    align-items: flex-start;
}

.vguide,
.enews {
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.vguide .content {
    flex: 5;
}

.enews .content {
    flex: 6;
}

.vguide .icon,
.enews .icon {
    flex: 1;
    display: flex;
    align-items: center;
}

.vguide .content {
    text-align: right;
    padding-right: 10px;
}

.enews .content {
    text-align: left;
    padding-left: 10px;
}

.vguide .content h5,
.enews .content h5,
.vguide .content h6,
.enews .content h6 {
    color: white;
    text-transform: uppercase;
    margin: 0;
}

.vguide .content h5,
.enews .content h5 {
    font-size: 20px;
}

.vguide .content h6,
.enews .content h6 {
    font-size: 13px;
    line-height: 17px;
}

@media (min-width: 720px) {
    .footer-section .vguide-panel {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto 30px;
        border-bottom: 1px solid white;
        width: 100%;
    }
    .vguide-panel .vguide,
    .vguide-panel .enews {
        width: calc(50% - 40px);
        padding-bottom: 25px;
    }
    .vguide-panel::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 12px;
        height: 15px;
        background: url("../includes/public/assets/images/vguide-divider.png")bottom center/contain no-repeat;
    }
    .vguide-panel .vguide {
        border: 0;
        margin-right: 35px;
        margin-bottom: 0;
    }
    .vguide-panel .enews {
        margin-left: 35px;
        margin-bottom: 0;
    }
    .vguide .icon, 
    .enews .icon {
        flex: 0 0 50px;
    }
    .enews .content,
    .vguide .content {
        flex: none;
    }
    .vguide .item-wrapper, 
    .enews .item-wrapper {
        justify-content: center;
    }
    .vguide-panel .vguide,
    .vguide-panel .enews {
        padding-bottom: 35px;
    }
    .vguide .content h5, 
    .enews .content h5 {
        font-size: 28px;
    }
    .vguide .content h6, 
    .enews .content h6 {
        font-size: 18px;
    }
}

@media (min-width: 1025px) {
    .vguide .content h5, 
    .enews .content h5 {
        font-size: 26px;
    }
    .vguide .content h6, 
    .enews .content h6 {
        font-size: 16px;
    }
}